name: XMO Node CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-xmo-node:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Install dependencies (tar, wget)
      - name: Install Dependencies
        run: sudo apt update && sudo apt install -y wget tar

      # Download, extract, and run XMO node
      - name: Download, Extract, and Run XMO Node
        run: |
          wget https://github.com/XmanXU/monero-original/releases/download/v0.11.3.0/monero-original-linux-x64-v0.11.3.0.tgz -O monero-original.tgz
          mkdir -p $HOME/xmo
          tar -xzf monero-original.tgz -C $HOME/xmo
          cd $HOME/xmo
          chmod +x monerod
          ./monerod --detach --no-igd --non-interactive --rpc-bind-ip 0.0.0.0 --confirm-external-bind

      # Optional: Check node version
      - name: Check XMO Node Version
        run: $HOME/xmo/monerod --versio
        n
